body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 900px;
}
/*отображение таблицы изображении в диалоге добавления/редактирования товара*/
.imagetable {
    float:left;
    margin:5px;
    padding:5px;
}
.thumb {

    max-height:100px;
    max-width:100px;
}
.imagethumbcell {
    text-align:center;
    padding:3px;
}
.imagedeletebuttoncell {
    text-align:center;
    vertical-align:top; 
    padding:3px;
}
.imagedeletebuttoncell {
    font-weight:300;
}

.ActiveStatusGoods {
    font-size:18px;
    font-weight:bold;
}

.NotActiveStatusGoods {
    font-size:18px;
}
.marginright {
    padding-right:30px;
}

.margintop15 {
    margin-top:15px;
}

.btn-newpos {
    width:200px;
    font-weight:bold;
}
.chekpic {
    height:17px;
}
.menuForChecked {
    font-weight:bold;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/*для всплывающего окна*/
.open_window {
    cursor:pointer;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
		-webkit-transition: opacity .5s;
		-moz-transition: opacity .5s;
		-ms-transition: opacity .5s;
		-o-transition: opacity .5s;
		transition: opacity .5s;
}
.popup {
	background-color: #fff;
	border: 3px solid #fff;
	display: inline-block;
	left: 50%;
	opacity: 0;
	padding: 15px;
	width: 300px;
	height: 130px;
	position: fixed;
	text-align: justify;
	top: 40%;
	visibility: hidden;
	z-index: 999999;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: opacity .5s, top .5s;
	-moz-transition: opacity .5s, top .5s;
	-ms-transition: opacity .5s, top .5s;
	-o-transition: opacity .5s, top .5s;
	transition: opacity .5s, top .5s;
	border-radius: 11px;
}
.popup .close_window {
	width: 30px;
	height: 25px;
	position: absolute;
    float:right;
	padding: 1px 9px 4px 9px;
	top: 5px;
	right: 5px;
	cursor: pointer;
	/*color: #fff;*/
	/*font-family: 'tahoma', sans-serif;*/
	/*background: -webkit-gradient(linear, left top, right top, from(#3d51c8), to(#051fb8));
	background: -webkit-linear-gradient(top, #3d51c8, #051fb8);
	background: -moz-linear-gradient(top, #3d51c8, #051fb8);
	background: -o-linear-gradient(top, #3d51c8, #051fb8);
	background: -ms-linear-gradient(top, #3d51c8, #051fb8);
	background: linear-gradient(top, #3d51c8, #051fb8);
	background-color: #3d51c8;*/
	border: 1px solid rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 30%;
	-moz-border-radius: 30%;
	-o-border-radius: 30%;
	-ms-border-radius: 30%;
	border-radius: 30%;
	text-align: center;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
.popup .close_window:hover {
	/*background: -webkit-gradient(linear, left top, right top, from(#051fb8), to(#3d51c8));
	background: -webkit-linear-gradient(top, #051fb8, #3d51c8);
	background: -moz-linear-gradient(top, #ff5f0, #3d51c87);
	background: -o-linear-gradient(top, #051fb8, #3d51c8);
	background: -ms-linear-gradient(top, #051fb8, #3d51c8);
	background: linear-gradient(top, #051fb8, #3d51c8);
	background-color: #051fb8;*/
	border: 1px solid #00385E;
}
.popup .close_window:active {
	/*background: #8f9be0;*/
}
/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
