@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using BizMall.ViewModels.AccountViewModels

@model BizMall.ViewModels.AccountViewModels.CreateEditCompanyViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<h2>@ViewData["Title"]</h2>
@*<script type="text/javascript" >
    function ShowPrivatePersonDataBlock() {
        $("#CompanyDataBlock").hide();
        $("#PrivatePersonDataBlock").show();
    }

    function ShowCompanyDataBlock() {
        $("#CompanyDataBlock").show();
        $("#PrivatePersonDataBlock").hide();
    }
</script>*@

<form asp-controller="Account" asp-action="RegisterCompany" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <hr />
    <!--ПЕРЕКЛЮЧАТЕЛЬ КОМПАНИЯ/КЛИЕНТ-->
    <!--<br /> 
    <div class="form-group">
        <label class="col-md-2 control-label">Я ПРЕДСТАВЛЯЮ:</label>
        <div class="col-md-10">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-success active" onclick="ShowPrivatePersonDataBlock();">
                    <input type="radio" name="options" id="PrivatePerson" autocomplete="off"  checked> 
                    Частное лицо
                </label>
                <label class="btn btn-success" onclick="ShowCompanyDataBlock();">
                    <input type="radio" name="options" id="Company" autocomplete="off" > 
                    Компания
                </label>
            </div>
        </div>
    </div>
    <br />-->
    <div class="form-group">
        <label class="col-md-2 control-label">Название:</label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Описание деятельности:</label>
        <div class="col-md-10">
            <input asp-for="ActivityDescription" class="form-control" />
            <span asp-validation-for="ActivityDescription" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Логотип компании:</label>
        <div class="form-group">
            <div class="col-md-8">
                <div class="imageTable">
                    <table>
                        <tr id="images">
                            <td style="text-align:center;padding:3px;"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        @*<input asp-for="CompanyLogoId" type="hidden" id="goodImagesIds" readonly="readonly" value="@Model.CompanyLogo" />*@
        <div class="col-md-2"></div>
        <div class="form-group">
            <div class="col-md-3">
                <a class='btn btn-default' style="height:35px; margin-bottom:5px;">
                    Загрузить логотип ...
                    <input type="file"
                            id="loadfile"
                            name="newimages"
                            style="position: absolute;z-index: 2; top: 0; left: 0; opacity: 0; background-color: transparent;color: transparent;"
                            onchange='saveImage();'>
                </a>
            </div>
            <input asp-for="companyImagesIds" type="hidden" id="companyImagesIds" readonly="readonly" value="@Model.companyImagesIds" />
        </div>
    </div>
       
    @*TODO: Дополнить нужными хелперами для модели и валидацией*@
    <div class="form-group">
        <label class="col-md-2 control-label">Телефон:</label>
        <div class="col-md-10">
            <input asp-for="Telephone" class="form-control" />
            <span asp-validation-for="Telephone" class="text-danger"></span>
        </div>
    </div>
     
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Зарегистрироваться</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    function deleteCompanyImage(companyImagesIds) {
            var formData = new FormData();
            formData.append('companyImagesIds', companyImagesIds);
            $.ajax({
                url: "/Account/DeleteGoodImage/",
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (idOfDeletedIm) {
                    //РЕДАКТИРУЕМ СПИСОК ТЕКЦЩИХ ИЗОБРАЖЕНИЙ ТОВАРА
                    //берем исходный список изображений в виде строки
                    var companyImagesIds = $("#companyImagesIds").val();
                    //получаем из этого массив
                    var tmpIdsArr = companyImagesIds.split('_');
                    //удаляем последний элемент из массива так как он пустой
                    tmpIdsArr.splice(tmpIdsArr.length-1, 1);
                    //получаем индекс удаляемого изображения в массиве и удаляем его из массива
                    var idxOfDeletedIm = tmpIdsArr.indexOf(idOfDeletedIm);
                    if (idxOfDeletedIm == -1) return;
                    tmpIdsArr.splice(idxOfDeletedIm, 1);
                    //новый список id изображений  товара
                    companyImagesIds = tmpIdsArr.join('_') + "_";
                    $("#companyImagesIds").val(companyImagesIds);
                    //удаляем из DOM
                    $("#imgthumb_" + idOfDeletedIm).remove();
                    $("#delbtn_" + idOfDeletedIm).remove();
                }
            });

        };

        function saveImage() {
            //берем изображение
            var image = $('#loadfile')[0].files[0];
                //ПРОВЕРКИ
                //если оно есть
                if (image == undefined) return;
                //если оно подходящего размера (не более 300Кб)
                if (image.size > 300000) return;
                //если расширение подходит
                var ext = image.name.substring(image.name.lastIndexOf('.') + 1).toLowerCase();
                if (ext != "gif" && ext != "png" && ext != "jpeg" && ext != "jpg") return;
                //если оно подходящего типа - mimetype
                var imageType = /^image\//;
                if (imageType.test(image.type.match)) return;

            //записываем в БД
            var goodId = $("#Id").val();
            var formData = new FormData();
            formData.append('newimages', image);
            formData.append('Id', goodId);
            $.ajax({
                url: "/Account/AddCompanyImage/",
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (image) {
                    $.ajax({
                        url: "/Account/GetImageForThumb/" + image.id, //здесь просто достается изображение из БД
                        type: 'GET',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            //добавление в скрытое поле id изображений нового id изображения
                            var newImagesIds = $("#companyImagesIds").val() + data.id + "_";
                            $("#companyImagesIds").val(newImagesIds);
                            //отображение thumb только что добавленного изображения
                            var image = "<td id='imgthumb_" + data.id + "' class = 'imagethumbcell'> \
                                                    <img class='thumb' src='" + data.imageInBase64 + "' /> \
                                                </td>";
                            $("#images").append(image);
                            var closeButton = "<td id='delbtn_" + data.id + "' class ='imagedeletebuttoncell'> \
                                                    <a class='btn btn-default' href = '#' onclick = \"deleteCompanyImage('" + data.goodImageIds + "');\"> \
                                                        <span class='imagedeletebutton'>x</span> \
                                                    </a> \
                                                </td>";
                            $("#images").append(closeButton);
                        }
                    });
                }
            });
        }
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
